*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
#logo{
    font-size: 30px;
    font-weight: 400;
    margin-left: 30px;
    font-weight: 600;
}
#Ul1 li a{
    font-size: 14px;
    transition: 0.3s;
    margin: 10px;
    background-color: white;
    border-radius: 15%;
    border: 1px solid rgb(98, 112, 142);
}
#Ul1 li a:hover{
    transform: scale(1.1);
    background-color: black;
    color: aliceblue;
}

.carousel-image {
    object-fit: cover; /* Remplir l'espace du carousel sans déformer l'*/
    height: 500px; /* Définir une hauteur fixe pour que loccupe tout l'espace vertical */
}
#FN button{
    color: rgb(255, 255, 255);
    background-color: rgb(93, 93, 196);
    transition: 0.3s;
}
#FN button:hover{
    background-color: rgb(42, 42, 174);
    transform: scale(1.1);
}
.card img{
    width: 100%;
    height: 250px; /* Fixer une hauteur raisonnable */
    object-fit: fill; /* Garder unebien cadrée */
}

.card{
    display: flex;
    max-width: 400px; /* Empêche les cartes de devenir trop grandes */
    min-width: 320px; /* Ne jamais descendre en dessous de 320px */
}
.S1{
    height: 180vh;
    width: 100%;
    text-align: center;
    padding: 10px;
    align-items: center;
}
.Link1{
    text-decoration: none;
    background-color: white;
    color: rgb(98, 112, 142);
    padding: 6px;
    border-radius: 15%;
    transition: 0.3s;
}
.Link1:hover{
    transform: scale(1.1);
    background-color: black;
    color: aliceblue;
}
.Link2{
    text-decoration: none;
    background-color: black;
    color: aliceblue;
    padding: 6px;
    border-radius: 15%;
    transition: 0.3s;
}
.Link2:hover{
    transform: scale(1.1);
    background-color: gray;
    color: aliceblue;
}
#CP{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrer les cartes quand elles passent à la ligne */
    gap: 20px; /* Ajouter un espacement entre les cartes */
}
#CP .card{
    border-radius: 5%;
}
.contact p{
    color: white;
}
#CP1{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    border-radius: 5%;
}
#cd2{
    margin: 10px;
}
.Them{
    margin-top: 20px;
}
#CP1 img{
    width: 150px;
    height: 150px;
    display: inline-block;
    border-radius: 50%;
    object-fit: fill;
    
}
#CP1 .card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 15px;
    margin: 10px auto;
    background-color: white;
    border: 1px solid white;
    color: black;
}
.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    height: 58vh;
    width: 100%;
}
#CP img{
    border-radius: 5%;
}
.contact .relation{
    margin: 10px auto;
}
.contact .relation p{
    color: rgb(165, 164, 164);
}
.contact .maps{
    margin: 10px auto;
}
@media (min-width:575.33px) {
    #CP1 .card{
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media (max-width:575.33px) {
    .S1{
        height: 440vh;
    }
    #CP{
        font-size: 13px;
        width: 100%;
    }
    #CP{
        font-size: 13px;
    }
    .contact{
        height: 200hv;
    }
}
@media (min-width:575.33px) and (max-width:1002px){
    #CP,#CP1{
        flex-direction: column;
        margin: 10px auto;
    }
    .S1{
        height: 260vh;
        width: 100%;
    }
    .card{
        max-width:900px;
    }
    .card .image{
        width: 300px;
    }
    #CP1 img{
        position: absolute;
        left: -10px;
    }
    .card-body{
        width: 400px;
        position: absolute;
        right: 0px;
        top: 20px;
    }
    .card-body1{
       width: 350px;
       right: 0;
       margin-left: 110px;
       margin-top: 10px;
    }
}
@media (min-width:575.33px) and (max-width:720px) {
    .card-body{
        right: -12px;
        width: 300px;
        top: 15px;
        font-size: 15px;
        margin-left: 5px;
    }
    #CP img{
        width: 268px;
        margin-right: 60px;
        
    }
}
@media (max-width:686px) {
    .contact .relation{
        font-size: 9.7px;
        width: 140px;
    }

    .maps iframe {
        width: 400px;
        margin:10px;
    }
    .contact{
        padding: 0px;
        height: 77vh;
    }
}
@media (max-width:436px) {
    .maps iframe{
        margin-right: auto;
        margin-left: auto;
        width: 283px;
    }
}
@media (max-width:991.33px) {
    #Ul1 li a{
        width: 68px;
        text-align: center;
    }
}
@media (max-width:574px) {
    .S1{
        height: 420vh;
    }
}